Setup globals

In [1]:
import datetime
import pandas as pd
import sqlite3
import time

day_of_seconds = 86400
week_of_seconds = 7 * day_of_seconds
month_of_seconds = 30 * day_of_seconds

today = int(time.mktime(datetime.date.today().timetuple()))

The following cell values are safe to modify as needed

In [2]:
sqlite_file = 'RaMBLE.sqlite'
max_rows = 500

# Typically only looking back the past week
wayback = today-week_of_seconds

Pull in database

In [3]:
pd.set_option('display.max_rows', max_rows)
db = sqlite3.connect(sqlite_file)
new_devices = pd.read_sql_query("SELECT * from devices WHERE first_seen >= %d" % (wayback), db)
old_devices = pd.read_sql_query("SELECT * from devices WHERE first_seen < %d" % (wayback), db)

The database has two important tables: `devices` and `locations`, but this notebook will only be focusing on `devices`.

devices
* id (int)
* address (string: OUI)
* adv_flags (float)
* device_name (string)
* device_type (string)
* first_seen (int)
* last_seen (int)
* msd_key (float, Manufacturer Data: ID)
* msd_field (hex string, Manufacturer Data: Data)
* service_uuids (string uuid)
* service_data (string hex data)
* days_seen (int)
* raw_adv_data (bitstring)

locations
* id (int)
* device_id (int)
* timestamp (int)
* rssi (int)
* tx_power (float)
* latitude (float)
* logitude (float)
* accuracy (float)
* packets_received (int)

# New Devices of Interest

In [19]:
old_names = old_devices['device_name'].dropna(how='any').unique()

# Find devices with device types never seen before
new_names = new_devices.copy()
for old_name in old_names:
    new_names = new_names[new_names.device_name != old_name]

# format count table
name_count = new_names.device_name.value_counts()
name_count.name = ''
name_count = pd.DataFrame(name_count).sort_index()
name_count.index.names = ["device_name"]

device_report = list()

# grab contextual data on devices and add them to our device report
for new_name in name_count.index:
    new_device = new_devices[new_devices.device_name == new_name]
    
    # Add devices to our report list
    for device in new_device.index:
        device_report.append(new_device.loc[device, ["device_name", "device_type", "address", "service_uuids"]].values)

# Find devices with device types never seen before

old_types = old_devices['device_type'].dropna(how='any').sort_values().unique()
new_types = new_devices.copy()

for old_type in list(old_types):
    new_types = new_types[new_types.device_type != old_type]

# format count table
type_count = new_types.device_type.value_counts()
type_count.name = ''
type_count = pd.DataFrame(type_count).sort_index()
type_count.index.names = ["device_type"]

# Add any of these devices to our device list if we haven't already

for new_type in type_count.index:
    new_device = new_devices[new_devices.device_type == new_type]
    
    for device in new_device.index:
        # Check to see if they would have been reported for their name
        if new_device.loc[device, "device_name"] in name_count.index:
            continue
        
        # They haven't been reported before, add them
        device_report.append(new_device.loc[device, ["device_name", "device_type", "address", "service_uuids"]].values)

# Find devices with Service UUIDs never seen before

old_uuids = old_devices['service_uuids'].dropna(how='any').unique()

new_uuids = new_devices.copy()
for old_uuid in old_uuids:
    new_uuids = new_uuids[new_uuids.service_uuids != old_uuid]

# format count table
uuid_count = new_uuids.service_uuids.value_counts()
uuid_count.name = ''
uuid_count = pd.DataFrame(uuid_count).sort_index()
uuid_count.index.names = ["service_uuids"]

# Add any of these devices to our device list if we haven't already

for new_uuid in uuid_count.index:
    new_device = new_devices[new_devices.service_uuids == new_uuid]
    
    for device in new_device.index:
        # Check to see if they would have been reported for their name
        if new_device.loc[device, "device_name"] in name_count.index:
            continue
        
        # Check to see if they would have been reported for their type
        if new_device.loc[device, "device_type"] in type_count.index:
            continue
        
        # They haven't been reported before, add them
        device_report.append(new_device.loc[device, ["device_name", "device_type", "address", "service_uuids"]].values)

# Turn our list into a dataframe
if len(device_report) > 0:
    device_report = pd.DataFrame(device_report)
    device_report.columns = ["device_name", "device_type", "address", "service_uuids"]
else:
    device_report = pd.DataFrame(columns = ["device_name", "device_type", "address", "service_uuids"])
    
# Dump report to csv
device_report.to_csv('interesting_devices.csv')

In [20]:
print(f"{old_devices.id.count()} devices from {time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(old_devices.iloc[0].first_seen))} to {time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(old_devices.iloc[-1].first_seen))}")
print(f"{new_devices.id.count()} devices from {time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(new_devices.iloc[0].first_seen))} to {time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(new_devices.iloc[-1].first_seen))}")

11310 devices from 2018-11-20 15:12:37 to 2020-09-01 22:37:15
391 devices from 2020-09-03 08:42:01 to 2020-09-05 13:31:39

In [21]:
name_count

device_name
ALAM (24:F7:2C)         1
BLE_92EB                1
CCJB618380306           1
DV7200-4.0-382C         1
Dispatch TV             1
Forerunner 25           1
G-519C9C                1
Galaxy Watch (656E) LE  1
LCIRemoteNwBKfKvbV      1
LG SH4(72)              1
QHM-0CAE                1
VM-207-BLE              1

In [22]:
type_count

device_type
CSR                                                 1
Device Information, Fitbit                          1
Eddystone URL beacon - http://mrefer.com/415323...  1
Exposure Notification                               1
Fitbit Charge, Device Information, Fitbit           1
Lippert Components                                  1

In [23]:
uuid_count

service_uuids
00000000-0200-a58e-e411-afe28044e62c  1
47726f74-6547-4c4f-5353-414253000000  1
fd6f                                  1

In [24]:
device_report.sort_values(by="address")

,device_name,device_type,address,service_uuids
6,G-519C9C,None,00:05:C2:51:9C:9C,47726f74-6547-4c4f-5353-414253000000
9,LG SH4(72),LG Electronics,08:EF:3B:D9:D9:72,None
15,None,Exposure Notification,35:BE:AB:BF:94:69,fd6f
11,VM-207-BLE,Human Interface Device,71:72:59:16:C4:C8,1812
4,Dispatch TV,Google,74:21:CB:E3:6D:62,fea0
10,QHM-0CAE,None,AE:0B:00:00:0C:AE,None
0,ALAM (24:F7:2C) ,None,B8:3A:9D:24:F7:2D,None
3,DV7200-4.0-382C,None,C0:42:47:03:98:2C,a032
12,None,CSR,C1:E9:B6:00:1C:DB,None
14,None,Eddystone URL beacon - http://mrefer.com/41532...,C7:4E:77:81:86:0F,feaa
5,Forerunner 25 ,Garmin,C8:93:ED:EC:40:B1,6a4e3e10-667b-11e3-949a-0800200c9a66
16,Charge 3,"Fitbit Charge, Device Information, Fitbit",D2:A2:EE:B2:59:51,adabfb00-6e7d-4601-bda2-bffaa68956ba
2,CCJB618380306,ORBCOMM,D6:65:3A:EC:36:BF,None
7,Galaxy Watch (656E) LE,Samsung Electronics,EC:00:D6:3A:0A:DC,None
8,LCIRemoteNwBKfKvbV,Lippert Components,F3:FE:46:53:CA:8F,00000000-0200-a58e-e411-afe28044e62c
1,BLE_92EB,Ericsson Technology Licensing,F6:3B:01:7D:92:EB,6666
13,Inspire HR,"Device Information, Fitbit",F9:3E:98:3A:4E:E8,adabfb00-6e7d-4601-bda2-bffaa68956ba

## New Vendor Information

In [10]:
old_ouis = list()
new_ouis = list()
new_addresses = list()

for old_address in old_devices['address']:
    oui_octets = old_address.split(':')[:3]
    
    # check to see if this is a global oui
    if int(oui_octets[0], 16) & 0x2 == 0:
        #turn off the multicast bit
        oui_octets[0] = '{:02x}'.format(int(oui_octets[0], 16) & 0xfe)
        old_ouis.append(':'.join(oui_octets))

for new_address in new_devices['address']:
    oui_octets = new_address.split(':')[:3]
    
    # check to see if this is a global oui
    if int(oui_octets[0], 16) & 0x3 > 0:
        continue
    
    #turn off the multicast bit
    oui_octets[0] = '{:02x}'.format(int(oui_octets[0], 16) & 0xfe)
    new_oui = ':'.join(oui_octets)
    
    if new_oui not in old_ouis:
        new_ouis.append(new_oui)
        new_addresses.append(new_address)

device_report = list()

for new_address in new_addresses:
    new_device = new_devices[new_devices.address == new_address]
    
    for device in new_device.index:
        device_report.append(new_device.loc[device, ["device_name", "device_type", "address", "msd_key"]].values)

device_oui_report = pd.DataFrame(device_report)
device_oui_report.columns = ["device_name", "device_type", "address", "Manufacturer ID (raw)"]

In [11]:
pd.DataFrame(pd.Series(new_ouis).value_counts())

          0
20:EA:CE  1
6c:A6:57  1
60:D1:FD  1
44:0D:33  1
70:B5:39  1
40:23:43  1
4c:12:67  1
58:BC:11  1
44:72:D4  1
30:5B:BE  1
70:77:81  1
4c:A4:8F  1
58:42:DE  1
64:FF:8E  1
7c:EF:8E  1
3c:E9:18  1
74:21:CB  1
2c:17:28  1
50:D6:CE  1
44:6F:B0  1
6c:93:92  1
60:CF:24  1
68:EC:3B  1
18:2D:37  1
10:C0:D2  1
74:60:1B  1
6c:C1:B0  1
0c:5E:4E  1
48:0C:22  1
44:CA:49  1
74:21:AD  1
c0:42:47  1
48:01:F2  1
60:7D:95  1
4c:27:F4  1
c8:93:ED  1
28:90:BC  1
74:C8:36  1
4c:51:F1  1
60:3E:28  1
74:6F:69  1
58:BC:89  1
70:7C:70  1
18:EB:77  1
08:B3:D8  1
0c:E7:C9  1
78:64:41  1
70:A2:EF  1
50:F6:1C  1
44:A0:C9  1
48:69:18  1
70:7A:A6  1
44:71:18  1
40:C9:99  1
58:06:89  1
48:A0:1E  1
4c:7B:7D  1
28:0F:DE  1
d4:4D:87  1
4c:32:75  1
5c:F0:E8  1
44:A2:CF  1
44:DE:99  1
58:F3:97  1
dc:C0:8E  1
50:4D:63  1
54:E3:F7  1
68:CF:B6  1
24:9E:D3  1
48:07:FF  1
b8:3A:9D  1
74:E4:5E  1
2c:A0:CA  1
74:7A:89  1
7c:56:61  1
a4:30:7A  1
6c:C1:1E  1
40:2A:D1  1
68:0A:0E  1
68:6B:21  1
48:CA:C5  1
6c:A4:DF  1
00:05:C2  1
00:26:9D  1
40:42:4E  1
54:ED:78  1

In [12]:
device_oui_report.sort_values(by="address")

,device_name,device_type,address,Manufacturer ID (raw)
28,G-519C9C,None,00:05:C2:51:9C:9C,NaN
66,None,Microsoft,00:26:9D:67:3A:1F,6.0
2,None,Microsoft,08:B3:D8:50:91:21,6.0
52,None,Microsoft,0C:5E:4E:7A:0E:FB,6.0
67,None,Microsoft,0C:E7:C9:BE:65:02,6.0
48,None,Microsoft,10:C0:D2:68:7D:EA,6.0
3,None,Microsoft,18:2D:37:5B:4B:DD,6.0
31,None,None,18:EB:77:A2:61:71,19456.0
4,None,Microsoft,20:EA:CE:0E:72:CC,6.0
7,None,Microsoft,24:9E:D3:4C:C9:60,6.0
40,None,Microsoft,28:0F:DE:D1:BD:8D,6.0
17,None,Microsoft,28:90:BC:AB:E0:CC,6.0
84,None,"Airplay, Apple",2C:17:28:52:9D:3D,76.0
71,None,Microsoft,2C:A0:CA:79:45:DE,6.0
85,None,Microsoft,30:5B:BE:18:CB:E2,6.0
51,None,Microsoft,3C:E9:18:C9:79:7A,6.0
23,None,iBeacon,40:23:43:8A:EE:5A,76.0
62,None,"Apple, Nearby",40:2A:D1:E6:E5:A7,76.0
18,None,Samsung Electronics,40:42:4E:C4:63:58,117.0
49,None,"Apple, Nearby",40:C9:99:1C:5D:00,76.0
21,None,"Apple, Nearby",44:0D:33:27:CB:24,76.0
32,None,"Apple, Handoff",44:6F:B0:63:D6:29,76.0
50,None,"Apple, Nearby",44:71:18:CD:4F:59,76.0
30,None,"Apple, Handoff",44:72:D4:32:C5:8E,76.0
29,None,"Apple, Nearby",44:A0:C9:BB:AD:47,76.0
70,None,"Apple, Nearby",44:A2:CF:48:F5:2E,76.0
55,None,"Apple, Nearby",44:CA:49:BC:31:F2,76.0
56,None,"Apple, Nearby",44:DE:99:FD:86:1A,76.0
61,None,"Apple, Nearby",48:01:F2:52:B3:53,76.0
9,None,"Apple, Nearby",48:07:FF:0A:74:DC,76.0
77,None,"Apple, Nearby",48:0C:22:49:B6:C9,76.0
8,None,"Apple, Nearby",48:69:18:F6:47:32,76.0
44,None,"Apple, Nearby",48:A0:1E:FD:9B:2E,76.0
41,None,"Apple, Nearby",48:CA:C5:E5:A5:05,76.0
13,None,"Apple, Nearby",4C:12:67:6B:BD:85,76.0
26,None,"Apple, Nearby",4C:27:F4:91:54:86,76.0
10,None,"Apple, Nearby",4C:32:75:9E:7A:8C,76.0
45,None,"Apple, Nearby",4C:51:F1:34:1D:0E,76.0
33,None,"Apple, Nearby",4C:7B:7D:E7:4B:24,76.0
22,None,"Apple, Nearby",4C:A4:8F:00:89:9C,76.0
39,None,"Apple, Nearby",50:4D:63:79:51:52,76.0
58,None,"Apple, Nearby",50:D6:CE:6F:47:A0,76.0
60,None,"Apple, Nearby",50:F6:1C:CB:2B:F9,76.0
36,None,"Apple, Nearby",54:E3:F7:D4:DA:AB,76.0
82,None,"Apple, Nearby",54:ED:78:B2:A5:2F,76.0
73,None,"Apple, Nearby",58:06:89:C0:CB:71,76.0
64,None,"Apple, Nearby",58:42:DE:88:CE:B8,76.0
69,None,"Apple, Nearby",58:BC:11:6D:CF:00,76.0
42,None,"Apple, Nearby",58:BC:89:E6:C1:10,76.0
65,None,"Apple, Nearby",58:F3:97:AB:EA:C8,76.0
76,None,"Apple, Nearby",5C:F0:E8:69:75:67,76.0
80,None,"Apple, Nearby",60:3E:28:E5:E3:32,76.0
14,None,"Apple, Nearby",60:7D:95:71:8E:C8,76.0
16,None,"Apple, Nearby",60:CF:24:52:08:99,76.0
47,None,"Apple, Nearby",60:D1:FD:C8:E1:8B,76.0
15,None,"Apple, Nearby",64:FF:8E:2A:88:A5,76.0
20,None,"Apple, Nearby",68:0A:0E:79:A5:53,76.0
53,None,"Apple, Nearby",68:6B:21:32:CF:11,76.0
75,None,"Apple, Nearby",68:CF:B6:3D:CD:5C,76.0
12,None,"Apple, Nearby",68:EC:3B:DC:04:16,76.0
38,None,"Apple, Nearby",6C:93:92:78:EC:56,76.0
35,None,"Apple, Nearby",6C:A4:DF:E6:06:CC,76.0
43,None,"Apple, Nearby",6C:A6:57:AE:90:FB,76.0
83,None,Microsoft,6C:C1:1E:13:3D:C8,6.0
24,None,"Apple, Nearby",6C:C1:B0:73:D1:D3,76.0
25,None,Sony,70:77:81:AB:9D:C2,301.0
68,None,"Apple, Nearby",70:7A:A6:9D:A2:66,76.0
46,None,"Apple, Nearby",70:7C:70:BD:C1:C7,76.0
63,None,"Apple, Nearby",70:A2:EF:7B:77:DC,76.0
6,None,"Apple, Nearby",70:B5:39:5B:4B:EC,76.0
0,None,"Apple, Nearby",74:21:AD:35:E6:50,76.0
54,Dispatch TV,Google,74:21:CB:E3:6D:62,NaN
57,None,"Apple, Nearby",74:60:1B:E8:8C:1A,76.0
72,None,"Apple, Nearby",74:6F:69:DC:DA:A8,76.0
78,None,"Apple, Nearby",74:7A:89:C8:B8:37,76.0
81,None,"Google, Chromecast",74:C8:36:8E:2B:BA,224.0
19,None,"Apple, Nearby",74:E4:5E:A1:93:F0,76.0
59,None,"Apple, Nearby",78:64:41:5F:E0:00,76.0
27,None,"Apple, Nearby",7C:56:61:7A:31:D7,76.0
37,None,"Apple, Wireless Audio",7C:EF:8E:D1:AF:8B,76.0
74,None,"Smart TV, Samsung Electronics",A4:30:7A:61:E1:72,117.0
1,ALAM (24:F7:2C) ,None,B8:3A:9D:24:F7:2D,NaN
34,DV7200-4.0-382C,None,C0:42:47:03:98:2C,NaN
5,Forerunner 25 ,Garmin,C8:93:ED:EC:40:B1,135.0
79,None,Apple,D4:4D:87:6B:75:95,76.0
11,None,Apple,DC:C0:8E:12:FB:C7,76.0

## New Manufacturer ID's

In [13]:
old_msds = old_devices['msd_key'].dropna(how='any').sort_values().unique()
new_msds = new_devices.copy()

for old_msd in list(old_msds):
    new_msds = new_msds[new_msds.msd_key != old_msd]

msd_table = pd.DataFrame(new_msds.msd_key.value_counts())

# Convert msd_key into hex
msd_counts = list()

for msd_key in msd_table.index:
    msd_counts.append(['0x{:02x}'.format(int(float(msd_key))),msd_key, msd_table.loc[msd_key, "msd_key"]])

msd_counts = pd.DataFrame(msd_counts)
msd_counts.columns = ["Manufacturer ID (hex)", "Manufacturer ID (raw)", "Count"]

device_report = list()

for new_msd in msd_counts["Manufacturer ID (raw)"]:
    new_device = new_devices[new_devices.msd_key == new_msd]
    
    for device in new_device.index:
        device_report.append(new_device.loc[device, ["device_name", "device_type", "address", "msd_key"]].values)

device_msd_report = pd.DataFrame(device_report)
device_msd_report.columns = ["device_name", "device_type", "address", "Manufacturer ID (raw)"]

In [14]:
msd_counts

  Manufacturer ID (hex)  Manufacturer ID (raw)  Count
0                 0x5c7                 1479.0      1

In [15]:
device_msd_report.sort_values(by="address")

,device_name,device_type,address,Manufacturer ID (raw)
0,LCIRemoteNwBKfKvbV,Lippert Components,F3:FE:46:53:CA:8F,1479.0

# Historical Data

In [16]:
total_devices = pd.read_sql_query("SELECT * from devices", db)

device_names = pd.DataFrame(total_devices.device_name.value_counts()).sort_index()
device_names.columns = ["Count"]
device_names.to_csv('device_names.csv', index_label='Device Name')
device_names.index.names = ["Top Device Names"]

device_types = pd.DataFrame(total_devices.device_type.value_counts()).sort_index()
device_types.columns = ["Count"]
device_types.to_csv('device_types.csv', index_label='Device Type')
device_types.index.names = ["Top Device Types"]

print(f"Exported {device_names.count()[0]} device names to `device_names.csv`")
print(f"Exported {device_types.count()[0]} device names to `device_types.csv`")

Exported 537 device names to `device_names.csv`
Exported 122 device names to `device_types.csv`

## Count of all Device Names

In [17]:
device_names.sort_values(by="Count", ascending=False).head()

                           Count
Top Device Names
Tile                         104
Charge 2                      32
Versa                         23
H                             16
Apple Pencil                  15

## Count of all Device Types

In [18]:
device_types.sort_values(by="Count", ascending=False).head()

                  Count
Top Device Types
Apple, Nearby      6043
Microsoft          1716
iBeacon            1120
Apple, Handoff      575
Google              348